{% extends "./base.html" %}
{% load static %}

{% block title %}edit note{% endblock %}
{% block header %}
<link rel="stylesheet" href="{% static 'notes/index.css' %}">
{% endblock %}

{% block toolbarTitle %}
    {% if text %}
        Edit note
    {% else %}
        New note
    {% endif %}
{% endblock %}

{% block toolbarCommands %}
    <a href="/"><button class="n-left">back</button></a>
{% endblock %}

{% block body %}


<form action="" method="post">
        {% csrf_token %}
    <input type="hidden" name="pk" value="{{ note.pk }}">
    <textarea name="text">{{ note.text }}</textarea>
    <div>
        <input type="submit" value="Save">
    </div>
</form>
{% endblock %}
