body {
    margin: 0;
    padding: 0;
}

.n-toolbar {
    border-bottom: solid 1px #cccccc;
    text-align: center;
}

.n-toolbar button {
    display: block;
    float: right;
    margin: 0 0 0 10px;
    background: white;
    padding: 10px 5px;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
}

.n-toolbar .title {
    font-weight: bold;
    line-height: 34px;
}

button.n-left {
    float: left;
    margin: 0 10px 0 0;
}

.n-clear {
    clear: both;
}