.messages {
    list-style-type: none;
    padding-inline-start: 0;
}

.messages li {
    border: solid 1px;
    border-radius: 4px;
    padding: 4px;
}

.messages .info {
    color: #22aa22;
    background-color: #99ee99;
}